<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form action="/figures" method="POST">
      Figure Name: <input type="text" id="figure_name" name="figure[name]"></br>
      Existing Titles:
        <%Title.all.each do |title|%>
          <input type="checkbox" name="figure[title_ids][]" id="title_<%=title.id%>" value="<%=title.id%>"><%=title.name%></input>
        <%end%>

        </br>
        </br>

        New Title: <input type="text" id="new_title" name="title[name]"></br>
      </br>
      </br>

        Existing Landmarks:
         <% Landmark.all.each do |landmark| %>
           <input type="checkbox" name="figure[landmark_ids][]" id="landmark_<%=landmark.id %>"
           value="<%=landmark.id%>"><%=landmark.name%></input>
         <%end%>

       </br>
     </br>

        New Landmark Name: <input type="text" id="new_landmark" name="landmark[name]"></br>
        Year Completed: <input type="text" id="year_completed" name="landmark[year_completed]"></br>
        <input type="submit" value="Create New Figure">
    </form>
  </body>
</html>

<!-- {figure => {
  name => "Trump",
  title_ids => ["1", "2"],
  landmark_ids => ["1", "2"]
},
title => {
  name => "President"
}
landmark => {
  name => "Trump Tower"
  year_completed => "1985"

}

} -->
